html,
body {
	width: 90%;
	height: 100%;
	margin: 5% 5%;
}

img {
	max-width: 100%
}

#confetti {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events:none;
}

kbd {
	background-color: #ededed;
	padding: 3px 5px;
	border-bottom: 2px solid #dedede;
}
